{
    "client_credentials": {
        "clientId": "",
        "clientSecret": ""
    },

    "password": {
        "clientId": "",
        "clientSecret": "",
        "username": "",
        "password": ""
    },

    "installed_client": {
        "clientId": ""
    },

    "web": {
        "clientId": "",
        "clientSecret": "",
        "redirectUri": ""
    }
}
